body {
    background: linear-gradient(to bottom right, purple, blue);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.btn {
    display: flex;
    position: absolute;
    top: 5%;
    left: 3%;
    scale: 1.5;
    color: black;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
}

.container {
    text-align: center;
    width: 900px;
}

.container button {
    height: 35px;
    width:80px;
    padding: 4px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}