@import url(https://drive.google.com/drive/folders/1OmeYX7exSvHodiOUkZC9uozGBFr2XiEc?usp=share_link);

* {
    font-family: Determination Sans Web;
}

:root {
    --blue: red;
    --gray: black;

}

body {
    background: radial-gradient(rgb(227, 65, 65), black);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    color: white;
}

.home {
    display: flex;
    top: 5%;
    text-decoration: none;
    scale: 2;
    color: white;
    position: absolute;
    opacity: 1;
    z-index: 1;
    text-shadow: 0px 0px 3px black;
}

.home a {
    color: white;
    position: top left;
    opacity: 1;
    text-decoration: none;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
    max-width: 100%;
}

.progress {
    height: 4px;
    width: 0%;
    position: absolute;
    background-color: var(--blue);
    top: 50%;
    left: 0;
    z-index: -1;
    translate: translateY(-50%);
    transition: width 0.5s ease;
}

.progress-container::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--gray);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    box-shadow: 0px 0px 5px black;
}

.circle {
    background-color: var(--gray);
    color: #e2e2e2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--gray);
    transition: 0.7s ease;
    box-shadow: 0px 0px 5px black;
}

.circle.active {
    border-color: var(--blue);
}

.btn {
    background-color: gray;
    color: white;
    padding: 8px, 30px;
    margin: 5px;
    font-size: 14px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}

.btn:active {
    transform: scale(0.98);
}

.btn:disabled {
    background-color: var(--gray);
    cursor: not-allowed;
}