@import url(https://drive.google.com/drive/folders/1OmeYX7exSvHodiOUkZC9uozGBFr2XiEc?usp=share_link);

* {
    font-family: Determination Sans Web;
}

body {
    background: cyan;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}
.home {
    display: flex;
    top: 5%;
    text-decoration: none;
    scale: 2;
    color: white;
    position: absolute;
    opacity: 1;
    z-index: 1;
    text-shadow: 0px 0px 3px black;
}
 .home a {
    color: white;
    position: top left;
    opacity: 1;
    text-decoration: none;
 }
.btn {
    background-color: rgba(74, 66, 82, 0.561);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    text-shadow: 0px 0px 3px black;
    box-shadow: 0px 0px 3px black;
}

.btn:hover {
    opacity: 75%;
    justify-content: center;
    text-align: center;
    text-shadow: 0px 0px 3px black;
}