@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    font-family: 'Delicious Handrawn', cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    background-color: darkolivegreen;
}

.container {
    position: absolute;
    bottom: 20px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: darkolivegreen;
    border: none;
    text-align: center;
}